<div class="dislike">
<table>
<tr>
<h1><%= current_user.user_name.humanize %>'s Disliked Dishes</h1>
</tr>
<% @histories.each do |h| %>
<% if h.state == 3 %>
<tr>
<%= h.food.place.name %><br>
</tr>
<tr>
<%= h.food.place.neighborhood.name%><br>
</tr>
<% end %>
<% end %>
</table>
</div>