<div class="dislike">
<table>
<tr>
<h4><%= current_user.user_name.humanize %>'s Disliked Dishes</h4>
</tr>
<% @histories.each do |h| %>
<% if h.state == 3 %>
<tr class="bg-warning">
<%= link_to h.food.place.name, show_place_path(h.food.place, :food_id => h.food.id), target: :_blank %>
</tr>
<tr>
<%= h.food.place.neighborhoods[0].name%><br>
</tr>
<% end %>
<% end %>
</table>
</div>
