<div class="favs">
<table>
<tr>
<h4><%= current_user.user_name.humanize %>'s Liked Dishes</h4>
</tr>
<% @histories.each do |h| %>
<% if h.state == 1 %>
<tr>
<%= h.food.place.name %>
</tr>
<tr>
<%= h.food.place.neighborhoods.name%><br>
</tr>
<% end %>
<% end %>
</table>
</div>