<div class="favs">
<table>
<tr>
<h4><%= current_user.user_name.humanize %>'s Liked Dishes</h4>
</tr>
<% @histories.each do |h| %>
<% place_metadata = h.food.place.get_place_metadata %>
<% if h.state == 1 %>
<tr>
	<% if place_metadata%>
<%= link_to place_metadata[:place_url], place_metadata[:place_url], target: :_blank %>
<% end %>
</tr>
<tr>
<%= h.food.place.name %> - <%= h.food.place.neighborhoods[0].name%><br>
</tr>
<% end %>
<% end %>
</table>
</div>
