<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<p>Welcome to Tendr please login or register. Returning users will go to the <a href="./show_deck"><em>Show Deck</em></a> view once they log in to start swiping through the deck of food cards.</p>
<p>New users will go through registration views to not only set up their "normal" user login stuff but this is also where we would prompt for data to be used when building the deck of food cards. </p>

<a href="./index">Welcome |</a>
<a href="./show_deck">Show Deck |</a>
<a href="./show_details">Show Details |</a>
<a href="./show_history">Show History |</a>
<a href="./show_user">Show User</a>


