<h1>Welcome#show_deck</h1>
<p>Find me in app/views/welcome/show_deck.html.erb</p>

<a href="./index">Welcome |</a>
<a href="./show_deck">Show Deck |</a>
<a href="./show_details">Show Details |</a>
<a href="./show_history">Show History</a>
