<h1>Welcome#show_details</h1>
<p>Find me in app/views/welcome/show_details.html.erb</p>
<p>This is where the user gets all the details we have associated with a food card. It will also have a button/link/... method to flag the food choice as the one the user has decided to try.</p>
<a href="/welcome/index">Welcome |</a>
<a href="/welcome/show_deck">Show Deck |</a>
<a href="/welcome/show_details">Show Details |</a>
<a href="/welcome/show_history">Show History |</a>
<a href="/welcome/show_user">Show User</a>
