<h1>Welcome#show_user</h1>
<p>Find me in app/views/welcome/show_user.html.erb</p>
<p>This is where normal user show/edit view would be</p>
<a href="/welcome/index">Welcome |</a>
<a href="/welcome/show_deck">Show Deck |</a>
<a href="/welcome/show_details">Show Details |</a>
<a href="/welcome/show_history">Show History |</a>
<a href="/welcome/show_user">Show User</a>


