<h1>Welcome#show_history</h1>
<p>Find me in app/views/welcome/show_history.html.erb</p>
<p>This is where we show a history of the food cards a user has seen and what action the user took on each particular card:</p>
<ul>
<li>ignored</li>
<li>accepted</li>
<li>selected</li> or whatever we decide the final choice action to be called.
</ul>

<a href="./index">Welcome |</a>
<a href="./show_deck">Show Deck |</a>
<a href="./show_details">Show Details |</a>
<a href="./show_history">Show History |</a>
<a href="./show_user">Show User</a>

