<h1>Welcome#show_deck</h1>
<p>Find me in app/views/welcome/show_deck.html.erb</p>
<p>This is where a user will see the  top of the food card deck. <em>Swipe left</em> will ignore that card and show the next. <em>Swipe right </em> will accept the card to maybe look at later in the <a href="/welcome/show_history"> history</a> view. Swipe right will also display the next food card. <em>Selecting </em>the card will take you to the <a href="/welcome/show_details"> details view</a> to see all the data associated with the food card (e.g. restaurant, cost, calories, ingredients...</p>
<a href="/welcome/index">Welcome |</a>
<a href="/welcome/show_deck">Show Deck |</a>
<a href="/welcome/show_details">Show Details |</a>
<a href="/welcome/show_history">Show History |</a>
<a href="/welcome/show_user">Show User</a>
