	
	<dl class="dropdown">
	<dt>
		<a href="#">
			<span class="hide btn btn-primary dropdown-toggle">Filter Cards
			</span>
			<p class="multiSelect">
			</p>
		</a>
	</dt>
		<dd>
		<div class="multiSelect">
				<ul class="dropdown-menu">
					<li>
						<input type="checkbox" value="Chinese">Chinese
					</li>
					<li>
						<input type="checkbox" value="Indian">Indian
					</li>
					<li>
						<input type="checkbox" value="Asian">Asian
					</li>
					<li>
						<input type="checkbox" value="American">American
					</li>
					<li>
						<input type="checkbox" value="Southern">Southern
					</li>
					<li>
						<input type="checkbox" value="Middle Eastern">Middle Eastern
					</li>
					<li>
						<input type="checkbox" value="Mexican">Mexican
					</li>
					<li>
						<input type="checkbox" value="$">$
					</li>
			
					<li>
						<input type="checkbox" value="$$">$$
					</li>
			
					<li>
						<input type="checkbox" value="$$$">$$$
					</li>
					<li>
						<input type="checkbox" value="$$$$">$$$$
					</li>
				</ul>
			</div>
		</dd>
		<button class="btn btn-success">Filter</button>
	</dl>

