<div data-role="page" id="pageone">
  <center>
    <div id="swipe-card" class="card" style="width: 20rem">
      <center>
      <%= link_to(image_tag(@card.url, id: "card-image", class: "card-img-top", style: "max-width: 20rem"), show_place_path(@card.place, :food_id => @card.id), id: "place-link") %>
      </center>
      <h4 class="card-title" id="card-name">
        <%= @card.place.name %>
      </h4>
      <p class="card-text">
      <center>
        <%= link_to('Show me more', show_place_path(@card.place, :food_id => @card.id), class: 'btn btn-primary', id: 'place-btn') %><br>
        <i id="dislike" style = "font-size: 60pt; padding-right: 20px; color: #B71427" class="fa fa-times" aria-hidden="true"></i>
        <i id="like" style = "margin-top: 65px; font-size: 50pt; padding-left: 20px; color: #386636" class="fa fa-heart" aria-hidden="true"></i>
      </center>
      </p>
    </div>
  </center>
</div>
<%= form_tag('/decks/new')do %>
<% end %>

  <dl class="dropdown">
  <dt>
    <a href="#">
      <span class="hide btn btn-primary dropdown-toggle">Filter Cards
      </span>
      <p class="multiSelect">
      </p>
    </a>
  </dt>
    <dd>
    <div class="multiSelect">
<ul>
  <li>
    <input type="checkbox" name="downtown" id="downtown">
    <label for="downtown">Downtown/Central</label>

    <ul>
      <li>
        <input type="checkbox" name="downtown-1" id="downtown-1">
        <label for="downtown-1">Clarcksville</label>
      </li>
      <li>
        <input type="checkbox" name="tall-2" id="tall-2">
        <label for="tall-2">Giants</label>

        <ul>
          <li>
            <input type="checkbox" name="tall-2-1" id="tall-2-1">
            <label for="tall-2-1">Andre</label>
          </li>
          <li>
            <input type="checkbox" name="tall-2-2" id="tall-2-2">
            <label for="tall-2-2">Paul Bunyan</label>
          </li>
        </ul>
      </li>
      <li>
        <input type="checkbox" name="tall-3" id="tall-3">
        <label for="tall-3">Two sandwiches</label>
      </li>
    </ul>
  </li>
  <li>
    <input type="checkbox" name="short" id="short">
    <label for="short">Short Things</label>

    <ul>
      <li>
        <input type="checkbox" name="short-1" id="short-1">
        <label for="short-1">Smurfs</label>
      </li>
      <li>
        <input type="checkbox" name="short-2" id="short-2">
        <label for="short-2">Mushrooms</label>
      </li>
      <li>
        <input type="checkbox" name="short-3" id="short-3">
        <label for="short-3">One Sandwich</label>
      </li>
    </ul>
  </li>
</ul>
      </div>
    </dd>
    <button class="btn btn-success">Filter</button>
  </dl>
